body{
    background:#000;
   }
   svg{
     height:100vh;
     max-height:300px;
   }
   path{
     stroke-dasharray:10;
     animation: banaba 5s infinite alternate linear;
     stroke-dashoffset:940;
   }
   
   @keyframes banaba{
     from{  stroke-dashoffset:1000;stroke:deeppink}
     to{  stroke-dashoffset:0;stroke:yellow}
   }