body {
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
	margin:0;
	background-size: 100%;
}
#main {
	display: flex;
	width: 100vw;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
}
#word {
    display: inline-block;
    box-shadow: 1px 0px 0px black;
    padding-right: .1em;
    animation: pipe .3s infinite alternate;
}
@keyframes pipe{
	from{box-shadow: 1px 0px 0px black;}
	from{box-shadow: 1px 0px 0px white;}
}
img.profile {
	width: 176px;
	border-radius: 176px;
	border: 2px solid #B0C4DE;
	box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.16);
	transition:all .2s;
}
h1 {
	color: #FFE4C4;
	text-shadow: 1px 1px 5px #fff;
}
h3{
	color: #FFDAB9;
	text-shadow: 1px 0px 30px #fff;
}
img.profile:hover {
	transform: rotate(20deg);
}
.bio{
	line-height: 1.5;
}
a{
	text-decoration: none;
	color: #333;
	box-shadow: 0px 1px 0px;
}
a:hover{
	opacity: .5;
}
.icon{
	display: inline-block;
	margin:0 10px;
	size: 16x16;
}
.no-underline{
	box-shadow: none;
}
.btn {
	background-color: #808080;
	color: white;
	display: inline-block;
	padding: .4em .8em;
	border-radius: .25em;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	transition: all .2s;
	text-shadow: 1px 20px 20px black;
}
.btn:hover{
	letter-spacing: 5px;
}
.t-left{
	text-align: left;
}
li{
	margin-bottom: .5em;
}
p{
	color: #DCDCDC;
	text-shadow: 2px 2px 3px black;
}
li{
	color: #DCDCDC;
}
p.work{
	color: #F8F8FF;
	text-shadow: 10px 4px 20px #fff;
}