body {
	background: black;
	text-align: center;
	font-family: Helvetica, 'Trebuchet MS', sans-serif;
	margin:0;
}
#main {
	display: flex;
	width: 100vw;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
}
#word {
    display: inline-block;
    box-shadow: 1px 0px 0px white;
    padding-right: .1em;
    animation: pipe .3s infinite alternate;
}
@keyframes pipe{
	from{box-shadow: 1px 0px 0px white;}
	from{box-shadow: 1px 0px 0px black;}
}
img.profile {
	width: 176px;
	border-radius: 176px;
	border: 8px solid #FFF;
	box-shadow: 0px 1px 8px rgba(255, 255, 255, 0.84);
	transition:all .2s;
}
h1 {
	color: #fff;
	text-shadow: 0px 2px 0px #333333;
}
h3{
	color: #fff;
	/* text-shadow: 0px 2px 0px #828282; */
}
img.profile:hover {
	transform: rotate(20deg);
}
.bio{
	color: #fff;
	line-height: 1.5;
}
a{
	text-decoration: none;
	color: #333;
	box-shadow: 0px 1px 0px;
}
a:hover{
	opacity: .75;
}
/* unvisited link */
a:link {
  color: aquamarine;
}

/* visited link */
a:visited {
  color: cyan;
}

/* mouse over link */
a:hover {
  color: coral;
}

/* selected link */
a:active {
  color: orange;
}
.icon{
	display: inline-block;
	margin:0 10px;
}
.no-underline{
	box-shadow: 5px 10px #FFF;
}
.btn {
	background-color: black;
	color: white;
	display: inline-block;
	padding: .4em .8em;
	border-radius: .25em;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	transition: all .2s;
}
.btn:hover{
	letter-spacing: 5px;
}
.t-left{
	text-align: left;
}
li{
	margin-bottom: .5em;
}
