body {
    background-color: rgb(0, 0, 0);
}
div {
    text-align: center;
    font-family: 'Raleway';
    font-size: 25px;
    color: #ffffff
}
img {
    width: 30%;
    height: 35%;
    transform: rotate(90deg) skew(5deg) scale(0.7);
    border: inset 10px;
}