@import url('https://fonts.googleapis.com/css?family=Baloo|Itim');

body {
	background-image: url("bg.jpg");
	background-color: grey;
	background-size:cover;
	text-align: center;
	font-family: 'Baloo', cursive;
	margin:0;
	animation: fadein 2s;
}
#main {
	display: flex;
	width: 100vw;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
}
#word {
    display: inline-block;
    box-shadow: 1px 0px 0px black;
    padding-right: .1em;
    animation: pipe .3s infinite alternate;
}
@keyframes pipe{
	from{box-shadow: 1px 0px 0px black;}
	from{box-shadow: 1px 0px 0px white;}
}
img.profile {
	width: 176px;
	border-radius: 176px;
	border: 5px solid #ffffff;
	box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.16);
	transition:all .2s;
}
h1 {
	color: #ffffff;
	text-shadow: 0px 3px 0px black;
	margin: 10px;
}
h3{
	font-size: 23px;
	color: #ffffff;
	text-shadow: 0px 2px 0px black;
	margin: 15px;
}
img.profile:hover {
	transform: rotate(10deg);
}
.bio{
	color: white;
	text-shadow: 0px 2px 0px black;
	font-size: 20px;
	line-height: 1.5;
	margin: 5px;
	font-size: 20px;
}
a{
	text-decoration: none;
	color: #1FA2FF;
	box-shadow: 0px 1px 0px;
}
a:hover{
	opacity: .5;
}
.icon{
	display: inline-block;
	margin:0 10px;
	height: 32px;
	width: 32px;
}
.icon:hover{
	display: inline-block;
	margin:0 10px;
	height: 38px;
	width: 38px;
}
.no-underline{
	box-shadow: none;
}
.btn {
	background-color: black;
	color: white;
	display: inline-block;
	padding: .4em .8em;
	border-radius: .25em;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	transition: all .2s;
}
.btn:hover{
	letter-spacing: 10px;
}
.t-left{
	text-align: left;
	font-family: 'Itim', cursive;
	font-size: 23px;
}
li{
	margin-bottom: .5em;
	color: white;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
