body{
  background: url(pic/bg.jpg) center fixed;
  background-size: cover;
  font-family: sans-serif;
  margin: 0;
}

.content {
  position: absolute;
  top: 45%;
  left: 0;
  opacity: 0.7;
  background-color: white;
  width: 50%;
  padding: 0 5%;
}

a{
	text-decoration: none;
}

a:hover{
	opacity: .5;
}

a img{
  width: 30px;
}

#word {
  display: inline-block;
  box-shadow: 1px 0px 0px black;
  padding-right: .1em;
  animation: pipe .3s infinite alternate;
  margin-bottom: 0;
}

@keyframes pipe{
from{box-shadow: 1px 0px 0px black;}
from{box-shadow: 1px 0px 0px white;}
}

.btn {
	background-color: black;
	color: white;
	display: inline-block;
	padding: .4em .8em;
	border-radius: .25em;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	transition: all .2s;
}

.btn:hover{
	letter-spacing: 5px;
}

h1 {
  font-family: 'Taviraj', serif;
}